<html>


<body>

<table border="0" width="100%" bgcolor="#000000" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%"><b><font color="#FFFFFF" size="3" face="Arial">Weak Logins found</font></b></td>
  </tr>
</table>
<table border="1" width="100%">

<!-- WEAK_ENTRY BEGIN -->
  <tr>
    <td width="15%"><font face="Arial" size="2">[WEAK_TITLE]</font></td>
    <td width="44%"><font face="Arial" size="2">[WEAK_URL]</font></td>
    <td width="14%"><font face="Arial" size="2">[WEAK_USER]</font></td>
    <td width="15%"><font face="Arial" size="2">[WEAK_PASS]</font></td>
    <td width="12%"><font face="Arial" size="2">[WEAK_DATE]</font></td>
  </tr>
<!-- WEAK_ENTRY END -->

</table>


<p align="center">

<!-- WEAK_PAGE BEGIN -->

   <a href="[WEAK_FILE]">[WEAK_PAGE]</A>&nbsp;

<!-- WEAK_PAGE END -->

</p>

</body>

</html>












<!-- ADINFO:	This section is purely informational, and will not be added in your generated html file(s)	-->
<!-- ADINFO:			-->
<!-- ADINFO:	With this new system you can make the layout of your choice : adding pictures,logo, or special colors ->
<!-- ADINFO:	For that, simply use your usual Web page editor. And start coding good looking pages, as usual.. -->
<!-- ADINFO:	Take for example this HTML page to create yours!!! -->
<!-- ADINFO:	-->
<!-- ADINFO:	For more information go to :  http://www.accessdiver.com/help/html_template.htm
