.standard-font {
	FONT-SIZE: 0.75em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.standard-font2 {
	FONT-SIZE: 1em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.nav-font {
	FONT-SIZE: 0.71em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.table-border {
	BORDER-RIGHT: #6581a8 1px solid; BORDER-TOP: #6581a8 1px solid; FONT-SIZE: 0.79em; BORDER-LEFT-COLOR: #6581a8; BORDER-BOTTOM-COLOR: #6581a8
}
.table-noborder {
	MARGIN-TOP: 0.45em; FONT-SIZE: 0.99em
}
.inline {
	DISPLAY: inline
}
.site-title-bgcolor {
	BACKGROUND-COLOR: #cc0000
}
.textbox {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; VERTICAL-ALIGN: middle; BORDER-LEFT: medium none; WIDTH: 130px; LINE-HEIGHT: 12px; BORDER-BOTTOM: medium none; HEIGHT: 14px
}
.formfield {
	BORDER-RIGHT: black thin solid; BORDER-TOP: black thin solid; VERTICAL-ALIGN: middle; BORDER-LEFT: black thin solid; WIDTH: 100px; LINE-HEIGHT: 10px; BORDER-BOTTOM: black thin solid; HEIGHT: 16px
}
A.menu1-hyperlinked:hover {
	COLOR: #ffc418; BACKGROUND-COLOR: #6581a8; TEXT-DECORATION: none
}
A.menu2-hyperlinked:hover {
	COLOR: #ffc418; BACKGROUND-COLOR: #6581a8; TEXT-DECORATION: none
}
A.menu3-hyperlinked:hover {
	COLOR: #ffc418; BACKGROUND-COLOR: #6581a8; TEXT-DECORATION: none
}
A.menu4-hyperlinked:hover {
	COLOR: #ffc418; BACKGROUND-COLOR: #6581a8; TEXT-DECORATION: none
}
.nav1-topline-bgcolor {
	BACKGROUND-COLOR: #3b5c87
}
.nav1-bttmline-bgcolor {
	BACKGROUND-COLOR: #87a1c2
}
.nav1-menu2-line-bgcolor {
	BACKGROUND-COLOR: #87a1c2
}
.nav-promo-text {
	FONT-WEIGHT: normal; COLOR: #ffffff; BACKGROUND-COLOR: #527096
}
.nav-promo-text A {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.nav-promo-text A:hover {
	COLOR: #ffc418; TEXT-DECORATION: underline
}
A.menu1-hyperlinked {
	WIDTH: 152px; COLOR: #ffffff; BACKGROUND-COLOR: #6581a8; TEXT-DECORATION: none
}
A.menu2-hyperlinked {
	WIDTH: 145px; COLOR: #ffffff; BACKGROUND-COLOR: #6581a8; TEXT-DECORATION: none
}
A.menu3-hyperlinked {
	WIDTH: 138px; COLOR: #ffffff; BACKGROUND-COLOR: #6581a8; TEXT-DECORATION: none
}
A.menu4-hyperlinked {
	WIDTH: 131px; COLOR: #ffffff; BACKGROUND-COLOR: #6581a8; TEXT-DECORATION: none
}
A.menu1-hyperlinked-over {
	COLOR: #ffc418; BACKGROUND-COLOR: #6581a8; TEXT-DECORATION: none
}
A.menu2-hyperlinked-over {
	COLOR: #ffc418; BACKGROUND-COLOR: #6581a8; TEXT-DECORATION: none
}
A.menu3-hyperlinked-over {
	COLOR: #ffc418; BACKGROUND-COLOR: #6581a8; TEXT-DECORATION: none
}
A.menu4-hyperlinked-over {
	COLOR: #ffc418; BACKGROUND-COLOR: #6581a8; TEXT-DECORATION: none
}
.menu1-unselected {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #6581a8
}
.menu1-selected {
	FONT-WEIGHT: bold; COLOR: #003366; BACKGROUND-COLOR: #ffffff
}
.menu2-unselected {
	FONT-WEIGHT: normal; COLOR: #ffffff; BACKGROUND-COLOR: #6581a8
}
.menu3-unselected {
	FONT-WEIGHT: normal; COLOR: #ffffff; BACKGROUND-COLOR: #6581a8
}
.menu4-unselected {
	FONT-WEIGHT: normal; COLOR: #ffffff; BACKGROUND-COLOR: #6581a8
}
.menu2-selected {
	FONT-WEIGHT: normal; COLOR: #003366; BACKGROUND-COLOR: #ffffff
}
.menu3-selected {
	FONT-WEIGHT: normal; COLOR: #003366; BACKGROUND-COLOR: #ffffff
}
.menu4-selected {
	FONT-WEIGHT: normal; COLOR: #003366; BACKGROUND-COLOR: #ffffff
}
.whitebg {
	BACKGROUND-COLOR: #ffffff
}
.blue-line {
	BACKGROUND-COLOR: #becede
}
.glossary-sectiontitle {
	FONT-WEIGHT: bold; COLOR: #003366; BACKGROUND-COLOR: #d5e3ef
}
.invisible {
	DISPLAY: none; FONT-SIZE: 0.01em; COLOR: #ffffff; LINE-HEIGHT: 0.01em
}
.page-title {
	FONT-WEIGHT: bold; FONT-SIZE: 1.6em; MARGIN-BOTTOM: 0.45em; COLOR: #cc0000
}
.page-title A {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
.page-title-black {
	FONT-WEIGHT: bold; FONT-SIZE: 1.6em; MARGIN-BOTTOM: 0.45em; COLOR: #000000
}
.page-title-black A {
	COLOR: #000000; TEXT-DECORATION: underline
}
.pgheading-text {
	MARGIN-TOP: -0.5em; MARGIN-BOTTOM: 0.8em
}
.sectiontitle {
	MARGIN-TOP: 0.95em; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.45em; COLOR: #000000
}
.boldheading {
	MARGIN-TOP: 0em; FONT-SIZE: 1em; MARGIN-BOTTOM: 0em; COLOR: #000000
}
.sectiontitle-nomargin {
	MARGIN-TOP: -0.2em; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.45em; COLOR: #000000
}
.back-to-top {
	FONT-SIZE: 0.71em; COLOR: #405ebe; TEXT-DECORATION: none
}
.sectiontitle-image {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em
}
.sectiontitle A {
	COLOR: #405ebe; TEXT-DECORATION: underline
}
.sectiontitle-nomargin A {
	COLOR: #405ebe; TEXT-DECORATION: underline
}
.boldheading A {
	COLOR: #405ebe; TEXT-DECORATION: underline
}
.sectiontitle2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #000000
}
.sectiontitle2 A {
	COLOR: #405ebe; TEXT-DECORATION: none
}
.back-to-top A {
	COLOR: #405ebe; TEXT-DECORATION: none
}
.sectiontitle2 A:hover {
	COLOR: #0000ff; TEXT-DECORATION: none
}
.back-to-top A:hover {
	COLOR: #0000ff; TEXT-DECORATION: none
}
.sectiontitle A:visited {
	COLOR: #7a2197; TEXT-DECORATION: underline
}
.sectiontitle-nomargin A:visited {
	COLOR: #7a2197; TEXT-DECORATION: underline
}
boldheading A:visited {
	COLOR: #7a2197; TEXT-DECORATION: underline
}
.standard-text A:visited {
	COLOR: #7a2197; TEXT-DECORATION: underline
}
.call-to-action A:visited {
	COLOR: #7a2197; TEXT-DECORATION: underline
}
.mod-text A:visited {
	COLOR: #7a2197; TEXT-DECORATION: underline
}
.link A:visited {
	COLOR: #7a2197; TEXT-DECORATION: underline
}
.mod-th-text A:visited {
	COLOR: #7a2197; TEXT-DECORATION: underline
}
.ftr-text A:visited {
	COLOR: #7a2197; TEXT-DECORATION: underline
}
.paragraph A:visited {
	COLOR: #7a2197; TEXT-DECORATION: underline
}
.section-title-red {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; MARGIN-BOTTOM: 0.45em; COLOR: #cc0000
}
.listlink A:visited {
	COLOR: #7a2197; TEXT-DECORATION: none
}
.sectiontitle2 A:visited {
	COLOR: #7a2197; TEXT-DECORATION: none
}
.paragraph {
	MARGIN-TOP: 0.45em; MARGIN-BOTTOM: 0.45em
}
.standard-text {
	COLOR: #000000; TEXT-DECORATION: none
}
.standard-text A {
	COLOR: #405ebe; TEXT-DECORATION: underline
}
.link A {
	COLOR: #405ebe; TEXT-DECORATION: underline
}
.paragraph A {
	COLOR: #405ebe; TEXT-DECORATION: underline
}
.listlink A {
	COLOR: #405ebe; TEXT-DECORATION: none
}
.link {
	COLOR: #405ebe; TEXT-DECORATION: underline
}
.call-to-action {
	FONT-WEIGHT: bold; COLOR: #405ebe
}
.call-to-action A {
	TEXT-DECORATION: underline
}
.link A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.listlink A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
LI A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.standard-text A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.sectiontitle A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.sectiontitle-nomargin A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
boldheading A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.call-to-action A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.paragraph A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.table-head A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.grey-bullet {
	MARGIN-TOP: 0.4em; LIST-STYLE-IMAGE: url(/global/mvc_objects/images/list_greybullet.gif)
}
.pop-bullet {
	MARGIN-TOP: 0.4em; LIST-STYLE-IMAGE: url(/global/mvc_objects/images/icon_popup.gif)
}
.table-title {
	MARGIN-TOP: 0.15em; FONT-WEIGHT: bold; FONT-SIZE: 0.75em; MARGIN-BOTTOM: 0.25em; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #f0f5f9; TEXT-DECORATION: none
}
.table-head {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; BORDER-LEFT: 1px solid; COLOR: #003366; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.table-head A {
	COLOR: #405ebe; TEXT-DECORATION: underline
}
.table-td-content {
	FONT-SIZE: 0.8em; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.table-td-content A {
	COLOR: #405ebe; TEXT-DECORATION: underline
}
.table-td-content A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.table-rule {
	BACKGROUND-COLOR: #6581a8
}
.Error {
	COLOR: #cc0000; TEXT-DECORATION: none
}
.blacktext {
	COLOR: #000000; TEXT-DECORATION: none
}
.blacktext A {
	COLOR: #000000; TEXT-DECORATION: none
}
.blacktext A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.horizontal-rule {
	MARGIN: 10px 0px
}
.mod-body-bgcolor {
	BACKGROUND-COLOR: #f0f5fa
}
.mod-tab-bgcolor {
	BACKGROUND-COLOR: #6780a9
}
.popuup-tabbg {
	BACKGROUND-COLOR: #becedd
}
.popup-header {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0.3em; COLOR: #003366; PADDING-TOP: 0.3em; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #becedd; TEXT-DECORATION: none
}
.popup-close {
	FONT-SIZE: 0.7em; COLOR: #003366; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #cddae3; TEXT-DECORATION: none
}
.popup-close A {
	COLOR: #003366; BACKGROUND-COLOR: #cddae3; TEXT-DECORATION: none
}
.popup-close A:hover {
	COLOR: #003366; BACKGROUND-COLOR: #cddae3; TEXT-DECORATION: underline
}
.mod-title {
	MARGIN-TOP: 0.15em; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; MARGIN-BOTTOM: 0.25em; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #6780a9; TEXT-DECORATION: none
}
.mod-text {
	FONT-SIZE: 0.65em; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #f0f5f9; TEXT-DECORATION: none
}
.mod-text A {
	COLOR: #405ebe; BACKGROUND-COLOR: #f0f5f9; TEXT-DECORATION: underline
}
.mod-text A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.mod-th-text {
	FONT-WEIGHT: bold; FONT-SIZE: 0.71em; MARGIN-BOTTOM: 0em; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #f0f5f9; TEXT-DECORATION: none
}
.mod-th-text A {
	COLOR: #405ebe; BACKGROUND-COLOR: #f0f5f9; TEXT-DECORATION: underline
}
.mod-th-text A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.mod-alert-msg-text {
	FONT-WEIGHT: bold; FONT-SIZE: 0.82em; COLOR: #cc0000; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.mod-text-whitebg {
	FONT-SIZE: 0.7em; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.mod-text-whitebg A {
	COLOR: #405ebe
}
.mod-bold-text {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.bttnred-bkgd-top {
	BACKGROUND-IMAGE: url(/global/mvc_objects/images/bttnred_bgtop.gif); BACKGROUND-COLOR: #aa0000
}
.bttnred-bkgd-left {
	BACKGROUND-IMAGE: url(/global/mvc_objects/images/bttnred_bgleft.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #aa0000
}
.bttnred-bkgd {
	BACKGROUND-IMAGE: url(/global/mvc_objects/images/bttnred_bgmiddle.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #aa0000
}
.bttnred-bkgd-right {
	BACKGROUND-IMAGE: url(/global/mvc_objects/images/bttnred_bgright.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #aa0000
}
.bttnred-bkgd-bottom {
	BACKGROUND-IMAGE: url(/global/mvc_objects/images/bttnred_bgbottom.gif); BACKGROUND-COLOR: #aa0000
}
.bttnred-text {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #ffffff; LINE-HEIGHT: 1.1em; PADDING-TOP: 0px; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #aa0000; TEXT-DECORATION: none
}
.bttnred-text A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.bttnred-text:hover {
	COLOR: #ffc418; TEXT-DECORATION: none
}
.bttndrkblue-bkgd-top {
	BACKGROUND-IMAGE: url(/global/mvc_objects/images/bttndrkblue_bgtop.gif); BACKGROUND-COLOR: #225688
}
.bttndrkblue-bkgd-left {
	BACKGROUND-IMAGE: url(/global/mvc_objects/images/bttndrkblue_bgleft.gif); BACKGROUND-COLOR: #225688
}
.bttndrkblue-bkgd {
	MARGIN-TOP: 0px; BACKGROUND-IMAGE: url(/global/mvc_objects/images/bttndrkblue_bgmiddle.gif); MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #225688
}
.bttndrkblue-bkgd-right {
	BACKGROUND-IMAGE: url(/global/mvc_objects/images/bttndrkblue_bgright.gif); BACKGROUND-COLOR: #225688
}
.bttndrkblue-bkgd-bottom {
	BACKGROUND-IMAGE: url(/global/mvc_objects/images/bttndrkblue_bgbottom.gif); BACKGROUND-COLOR: #225688
}
.bttndrkblue-text {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #ffffff; LINE-HEIGHT: 0.95em; PADDING-TOP: 0px; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #225688; TEXT-DECORATION: none
}
.bttndrkblue-text A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.bttndrkblue-text:hover {
	COLOR: #ffdd3c; TEXT-DECORATION: none
}
.ada-hidden-content {
	FONT-SIZE: 1px; BACKGROUND: #ffffff; MARGIN: 0em; COLOR: #ffffff
}
INPUT.btn2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 60%; BORDER-LEFT-COLOR: #b7cfeb; BACKGROUND: #366496; BORDER-BOTTOM-COLOR: #003366; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #ffffff; BORDER-TOP-COLOR: #cbe3ff; PADDING-TOP: 0px; BORDER-RIGHT-COLOR: #003366
}
A.btn2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 60%; BORDER-LEFT-COLOR: #b7cfeb; BACKGROUND: #366496; BORDER-BOTTOM-COLOR: #003366; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #ffffff; BORDER-TOP-COLOR: #cbe3ff; PADDING-TOP: 0px; BORDER-RIGHT-COLOR: #003366
}
A.btn2-over {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 60%; BORDER-LEFT-COLOR: #b7cfeb; BACKGROUND: #366496; BORDER-BOTTOM-COLOR: #003366; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #ffffff; BORDER-TOP-COLOR: #cbe3ff; PADDING-TOP: 0px; BORDER-RIGHT-COLOR: #003366
}
A.btn2 {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 65%; PADDING-BOTTOM: 1px; BORDER-LEFT: 1px solid; LINE-HEIGHT: 120%; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid; TEXT-DECORATION: none
}
A.btn2-over {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 65%; PADDING-BOTTOM: 1px; BORDER-LEFT: 1px solid; LINE-HEIGHT: 120%; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid; TEXT-DECORATION: none
}
A.btn2:hover {
	COLOR: #c7d2dc
}
A.btn2-over {
	COLOR: #c7d2dc
}
DIV.btn2 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #cbe3ff 1px solid; BORDER-LEFT: #b7cfeb 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
