<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppTool.Properties.Settings>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="boolUserProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CertFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterLog" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyVHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyAltAddr" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyAltPort" serializeAs="String">
                <value />
            </setting>
            <setting name="boolUserProxyFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyHostFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="boolBindLocalHostOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyAuthNone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyAuthBasic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyAuthNTLM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="MutualSSLFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowOptionsOnLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
        </AppTool.Properties.Settings>
    </userSettings>
</configuration>